{% load static %}
<style>
    .submenu ul li a.active {
        font-weight: bold !important;
    }
</style>

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/icons/dashboard.svg' %}" alt="img" />
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="submenu">
                    <a href="#" class="{% if 'inventory' in request.path %}active{% endif %}">
                        <img src="{% static 'img/icons/product.svg' %}" alt="img" />
                        <span>Product</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="{% if 'product' in request.path %}show{% endif %}">
                        <li><a href="{% url 'product_list' %}" class="{% if request.resolver_match.url_name == 'product_list' %}active{% endif %}">Products</a></li>
                        <li><a href="{% url 'unit_list' %}" class="{% if request.resolver_match.url_name == 'unit_list' %}active{% endif %}">Units</a></li>
                        <li><a href="{% url 'brand_list' %}" class="{% if request.resolver_match.url_name == 'brand_list' %}active{% endif %}">Brands</a></li>
                        <li><a href="{% url 'productcategory_list' %}" class="{% if request.resolver_match.url_name == 'productcategory_list' %}active{% endif %}">Categories</a></li>
                        <li><a href="{% url 'adjustment_list' %}" class="{% if request.resolver_match.url_name == 'adjustment_list' %}active{% endif %}">Inventory Adjustments</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#" class="{% if 'accounts' in request.path %}active{% endif %}">
                        <img src="{% static 'img/icons/product.svg' %}" alt="img" />
                        <span>Accounts</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="{% if 'accounts' in request.path %}show{% endif %}">
                        <li><a href="{% url 'bank_list' %}" class="{% if request.resolver_match.url_name == 'bank_list' %}active{% endif %}">Banks</a></li>
                        <li><a href="{% url 'primarygroup_list' %}" class="{% if request.resolver_match.url_name == 'primarygroup_list' %}active{% endif %}">Primary Groups</a></li>
                        <li><a href="{% url 'group_list' %}" class="{% if request.resolver_match.url_name == 'group_list' %}active{% endif %}">Groups</a></li>
                        <li><a href="{% url 'ledgeraccount_list' %}" class="{% if request.resolver_match.url_name == 'ledgeraccount_list' %}active{% endif %}">Ledger Accounts</a></li>
                        <li><a href="{% url 'subledgeraccount_list' %}" class="{% if request.resolver_match.url_name == 'subledgeraccount_list' %}active{% endif %}">Sub Ledgers</a></li>
                        <li><a href="{% url 'paymentvoucher_list' %}" class="{% if request.resolver_match.url_name == 'paymentvoucher_list' %}active{% endif %}">Payment Vouchers</a></li>
                        <li><a href="{% url 'receiptvoucher_list' %}" class="{% if request.resolver_match.url_name == 'receiptvoucher_list' %}active{% endif %}">Receipt Vouchers</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#" class="{% if 'people' in request.path %}active{% endif %}">
                        <img src="{% static 'img/icons/product.svg' %}" alt="img" />
                        <span>People</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="{% if 'people' in request.path %}show{% endif %}">
                        <li><a href="{% url 'customer_list' %}" class="{% if request.resolver_match.url_name == 'customer_list' %}active{% endif %}">Customers</a></li>
                        <li><a href="{% url 'supplier_list' %}" class="{% if request.resolver_match.url_name == 'supplier_list' %}active{% endif %}">Suppliers</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#" class="{% if 'sale' in request.path %}active{% endif %}">
                        <img src="{% static 'img/icons/product.svg' %}" alt="img" />
                        <span>Sales</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="{% if 'sale' in request.path %}show{% endif %}">
                        <li><a href="{% url 'sale_list' %}" class="{% if request.resolver_match.url_name == 'sale_list' %}active{% endif %}">Sales</a></li>
                        <li><a href="{% url 'sale_return_list' %}" class="{% if request.resolver_match.url_name == 'sale_return_list' %}active{% endif %}">Sales Returns</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#" class="{% if 'purchase' in request.path %}active{% endif %}">
                        <img src="{% static 'img/icons/product.svg' %}" alt="img" />
                        <span>Purchase</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="{% if 'purchase' in request.path %}show{% endif %}">
                        <li><a href="{% url 'purchase_list' %}" class="{% if request.resolver_match.url_name == 'purchase_list' %}active{% endif %}">Purchases</a></li>
                        <li><a href="{% url 'purchase_return_list' %}" class="{% if request.resolver_match.url_name == 'purchase_return_list' %}active{% endif %}">Purchase Returns</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#" class="{% if 'report' in request.path %}active{% endif %}">
                        <img src="{% static 'img/icons/product.svg' %}" alt="img" />
                        <span>Report</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="{% if 'report' in request.path %}show{% endif %}">
                        <li><a href="{% url 'balance_sheet_list' %}" class="{% if request.resolver_match.url_name == 'balance_sheet_list' %}active{% endif %}">Balance Sheet Report</a></li>
                        <li><a href="{% url 'stock_report_list' %}" class="{% if request.resolver_match.url_name == 'stock_report_list' %}active{% endif %}">Stock Report</a></li>
                    </ul>
                </li>

                {% comment %} <li class="submenu">
                    <a href="#" class="{% if 'sms' in request.path %}active{% endif %}">
                        <img src="{% static 'img/icons/product.svg' %}" alt="img" />
                        <span>SMS</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="{% if 'sms' in request.path %}show{% endif %}">
                        {% if request.user.role.name == "CLIENT" %}
                            <li><a href="{% url 'send_sms' %}" class="{% if request.resolver_match.url_name == 'send_sms' %}active{% endif %}">New SMS</a></li>
                        {% endif %}
                        <li><a href="{% url 'all_sms_list' %}" class="{% if request.resolver_match.url_name == 'all_sms_list' %}active{% endif %}">All SMS</a></li>
                        <li><a href="{% url 'sent_sms_list' %}" class="{% if request.resolver_match.url_name == 'sent_sms_list' %}active{% endif %}">Sent SMS</a></li>
                        {% comment %} <li><a href="{% url 'inbox_sms_list' %}" class="{% if request.resolver_match.url_name == 'inbox_sms_list' %}active{% endif %}">Inbox</a></li> {% endcomment %}
                        <li><a href="{% url 'failed_sms_list' %}" class="{% if request.resolver_match.url_name == 'failed_sms_list' %}active{% endif %}">Failed SMS</a></li>
                        <li><a href="{% url 'queued_sms_list' %}" class="{% if request.resolver_match.url_name == 'queued_sms_list' %}active{% endif %}">Queued SMS</a></li>
                        {% if request.user.role.name == "ADMIN" %}
                            <li><a href="{% url 'failed_and_pending_sms_list' %}" class="{% if request.resolver_match.url_name == 'failed_and_pending_sms_list' %}active{% endif %}">Failed and Pending SMS</a></li>
                        {% endif %}
                    </ul>
                </li> {% endcomment %}

                {% if request.user.role.name == "ADMIN" %}
                    <li class="submenu">
                        <a href="#" class="{% if 'user' in request.path %}active{% endif %}">
                            <img src="{% static 'img/icons/users1.svg' %}" alt="img" />
                            <span>Users</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="{% if 'user' in request.path %}show{% endif %}">
                            <li><a href="{% url 'user_list' %}" class="{% if request.resolver_match.url_name == 'user_list' %}active{% endif %}">User List</a></li>
                            {% if request.user.role.name == "ADMIN" %}
                                <li><a href="{% url 'reseller_list' %}" class="{% if request.resolver_match.url_name == 'reseller_list' %}active{% endif %}">Reseller List</a></li>
                            {% endif %}
                            <li><a href="{% url 'client_list' %}" class="{% if request.resolver_match.url_name == 'client_list' %}active{% endif %}">Client List</a></li>
                            <li><a href="{% url 'user_group_list' %}" class="{% if request.resolver_match.url_name == 'user_group_list' %}active{% endif %}">User Group List</a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#" class="{% if 'package' in request.path %}active{% endif %}">
                            <img src="{% static 'img/icons/product.svg' %}" alt="img" />
                            <span>Packages</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="{% if 'package' in request.path %}show{% endif %}">
                            <li><a href="{% url 'package_list' %}" class="{% if request.resolver_match.url_name == 'package_list' %}active{% endif %}">Package List</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Custom JS for sidebar toggle -->
<script>
//   $(document).ready(function() {
//       $('.submenu > a').click(function(e) {
//           e.preventDefault();
//           var $li = $(this).parent('li');
//           var $ul = $(this).next('ul');

//           // Hide all submenus except the one being clicked
//           // $('.submenu ul').not($ul).slideUp(350).parent().removeClass('open');

//           if ($ul.is(':visible')) {
//               $li.removeClass('open');
//             //   $ul.slideUp(350);
//           } else {
//               $li.addClass('open');
//             //   $ul.slideDown(350);
//           }
//       });

//       // Ensure that the currently active submenu stays open
//       $('.submenu > a.active').parent().addClass('open').find('ul').slideDown(350);
//   });
</script>
