{% extends 'base.html' %}
{% load static %}
{% block base %}

<style>
    .form-group .input-group{
        padding-right: 35px;
    }
</style>
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Product</h4>
                <h6>{% if object %}Edit Product{% else %}Add New Product{% endif %}</h6>
            </div>
        </div>
            
        {% if messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    {% for message in messages %}
                        Swal.fire({
                            title: '{% if is_error %}Error{% else %}Success{% endif %}',
                            text: '{{ message }}',
                            icon: '{% if is_error %}error{% else %}success{% endif %}',
                            confirmButtonText: 'OK'
                        });
                    {% endfor %}
                });
            </script>
        {% endif %}
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card p-3">
                <div class="row mandatory-fields">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}">Name</label>
                            {{ form.name }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="{{ form.sku.id_for_label }}">SKU</label>
                            {{ form.sku }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="{{ form.category.id_for_label }}">Category</label>
                            <div class="input-group">
                                {{ form.category }}
                                <button type="button" class="btn btn-outline-primary btn-sm ms-1" id="add-category-btn" title="Add New Category">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="{{ form.brand.id_for_label }}">brand</label>
                            <div class="input-group">
                                {{ form.brand }}
                                <button type="button" class="btn btn-outline-primary btn-sm ms-1" id="add-brand-btn" title="Add New Brand">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="{{ form.unit.id_for_label }}">Unit</label>
                            <div class="input-group">
                                {{ form.unit }}
                                <button type="button" class="btn btn-outline-primary btn-sm ms-1" id="add-unit-btn" title="Add New Unit">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="{{ form.color.id_for_label }}">Color</label>
                            <div class="input-group">
                                {{ form.color }}
                                <button type="button" class="btn btn-outline-primary btn-sm ms-1" id="add-color-btn" title="Add New Color">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="{{ form.price.id_for_label }}">Price</label>
                            {{ form.price }}
                        </div>
                    </div>


                    {% if not object %}
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="{{ form.initial_stock.id_for_label }}">Initial Stock</label>
                            {{ form.initial_stock }}
                            <small class="form-text text-muted">{{ form.initial_stock.help_text }}</small>
                        </div>
                    </div>
                    {% endif %}

                    <div class="col-12">
                        <div class="form-group">
                            <label for="{{ form.description.id_for_label }}">Description</label>
                            {{ form.description }}
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-checkbox">
                            <label for="{{ form.is_active.id_for_label }}">Active</label>
                            <div>
                                {{ form.is_active }}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12 col-12">
                        <button type="submit" class="btn btn-submit me-2">
                            {% if object %}Update{% else %}Submit{% endif %}
                        </button>
                        <a href="{% url 'product_list' %}" class="btn btn-cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% include 'product/_brand_modal.html' %}
{% include 'product/_unit_modal.html' %}
{% include 'product/_color_modal.html' %}
{% include 'product/_category_modal.html' %}
{% endblock base %}
