<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta name="description" content="Home Decor" />
    <meta
      name="keywords"
      content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive"
    />
    <meta name="author" content="Al Jaber Nishad" />
    <meta name="robots" content="noindex, nofollow" />
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Home Decor POS</title>
    {% endif %}

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/favicon.png' %}"
    />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/sweetalert/sweetalert2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <style>
      #footer {
        padding: 0.5rem 0;
        background-color: #f3f3f3;
        position: fixed;
        bottom: 0;
        width: calc(100% - 260px); 
        margin-left: 260px;
        /* margin-top: auto; */
        transition: all 0.2s ease;
      }

      @media (max-width: 991px) {
        .sidebar {
          margin-left: -575px;
        }
        #footer {
          width: 100%;
          margin-left: 0;
        }
      }
      .mini-sidebar.expand-menu #footer {
        width: calc(100% - 260px);
        margin-left: 260px;
      }
      .mini-sidebar #footer {
        width: calc(100% - 80px);
        margin-left: 80px;
      }
    </style>
  </head>
  <body>
    {% comment %} <div id="global-loader">
      <div class="whirly-loader"></div>
    </div> {% endcomment %}


    <div class="main-wrapper">
      {% include 'particals/navbar.html' %}
      {% block sidebar %}
        {% include 'particals/sidebar.html' %}
      {% endblock %}
      {% block base %}{% endblock base %}
      <div id="footer">
        <div class="text-center">
          © {% now "Y" %} Home Decor, Dhaka. All rights reserved.
        </div>
      </div>
    </div>


  


    <script src="{% static 'js/feather.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/custom-select.js' %}"></script>
    <script src="{% static 'plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'plugins/apexchart/chart-data.js' %}"></script>
    <script src="{% static 'plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
    {% comment %} <script src="{% static 'plugins/sweetalert/sweetalerts.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script> {% endcomment %}
    <script src="{% static 'js/script.js' %}"></script>


    <script>
  // Add select2 search functionality in the dropdown
  $(document).ready(function() {
      $('.select2_search').select2();
      // Focus search box when dropdown opens
      $(document).on('select2:open', () => {
          setTimeout(() => {
              document.querySelector('.select2-container--open .select2-search__field')?.focus();
          }, 0);
      });
  });

    {% comment %} 
      document.addEventListener('DOMContentLoaded', function() {      
        var submitButton = document.getElementById('submitButton');
        var form = uploadButton.closest('form');
        submitButton.addEventListener('click', function() {
          submitButton.disabled = true;
        });
      });
    {% endcomment %}


    document.querySelectorAll('.delete-btn').forEach(function(element) {
      element.addEventListener('click', function(e) {
          e.preventDefault();
          const url = this.getAttribute('data-url');
          Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
              if (result.isConfirmed) {
                  fetch(url, {
                      method: 'POST',
                      headers: {
                          'X-CSRFToken': '{{ csrf_token }}',
                          'Content-Type': 'application/json'
                      }
                  }).then(response => {
                      console.log(response)
                      if (response.ok) {
                          Swal.fire({
                              title: 'Deleted!',
                              icon: 'success'
                          }).then(() => {
                              window.location.reload();
                          });
                      } 
                      else {
                        console.log(response)
                          Swal.fire({
                              title: 'Error!',
                              html: '{{ errors }}',
                              icon: 'error',
                              confirmButtonText: 'error'
                          });
                      }
                  });
              }
          });
        });
      });
    
  </script>

  </body>
</html>
