{% extends 'base.html' %}
{% load static %}
{% block base %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Assigned SMS API List</h4>
                <h6>Manage your Assigned SMS API</h6>
            </div>
            <div class="page-btn">
                <a href="{% url 'assigned_sms_api_create' %}" class="btn btn-added">
                    <img src="{% static 'img/icons/plus.svg' %}" alt="img">Add Assigned SMS API
                </a>
            </div>
        </div>

        {% if messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    {% for message in messages %}
                        Swal.fire({
                            title: 'Success',
                            text: '{{ message }}',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        });
                    {% endfor %}
                });
            </script>
        {% endif %}

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'img/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'img/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset">
                                <img src="{% static 'img/icons/search-white.svg' %}" alt="img">
                            </a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            {% comment %} <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf">
                                    <img src="{% static 'img/icons/pdf.svg' %}" alt="img">
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel">
                                    <img src="{% static 'img/icons/excel.svg' %}" alt="img">
                                </a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print">
                                    <img src="{% static 'img/icons/printer.svg' %}" alt="img">
                                </a>
                            </li> {% endcomment %}
                        </ul>
                    </div>
                </div>

                {% comment %} <div class="card" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    {{ form.url_name }}
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-filters ms-auto">
                                        <img src="{% static 'img/icons/search-whites.svg' %}" alt="img">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}

                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Priority</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assigned_sms_api in assigned_sms_api_list %}
                                <tr>
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td>{{ assigned_sms_api.user.username }}</td>
                                    <td>{{ assigned_sms_api.sms_api.name }}</td>
                                    <td>{{ assigned_sms_api.priority }}</td>
                                    <td>
                                        {% if assigned_sms_api.is_active %}
                                            <span class="bg-lightgreen badges">True</span>
                                        {% else %}
                                            <span class="bg-lightred badges">False</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="me-3" href="{% url 'assigned_sms_api_update' assigned_sms_api.id %}">
                                            <img src="{% static 'img/icons/edit.svg' %}" alt="img">
                                        </a>
                                        <a class="me-3 confirm-text delete-btn" href="#" data-url="{% url 'assigned_sms_api_delete' assigned_sms_api.id %}">
                                            <img src="{% static 'img/icons/delete.svg' %}" alt="img">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock base %}
